.Slide {
    font-size: 20px;
    padding: 8vh;
    height: 100vh;
    width: 100vw;
    background: color-mix(in oklab, var(--bg), var(--mix) 20%);
    font-family: var(--setting-font, inherit);
}

.CenterSlide {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2em;
}

.TitleSlide {
    flex-direction: column;
    font-size: 2.2em;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: left;

    .SlideAuthor {
        font-weight: 500;
        opacity: .6;
    }
}

.SlideTitle :deep(h1) {
    margin: 0;
}

.SlideContent {
    column-count: 2;
    column-gap: 7vh;
    column-fill: auto;
    height: 100%;
    width: 100%;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--dim) #0000;

    :deep(img),
    :deep(video),
    :deep(ul) {
        break-inside: avoid;
        break-before: avoid;
    }

    :deep(img:only-child) {
        display: block;
    }

    :deep(h1),
    :deep(h2),
    :deep(h3),
    :deep(h4),
    :deep(h5),
    :deep(h6) {
        break-after: avoid;
    }
}

.Markdown {
    line-height: 1.5;
}

.CodeBlock :deep(.shiki) {
    border-radius: 10px;
    padding: 20px;
    font-size: 0.85em;
    margin-block: 20px;
    overflow: auto;
    line-height: 1.6;
    white-space: pre-wrap;
    scrollbar-color: var(--dim) #0000;
    scrollbar-width: thin;
}

:deep(code) {
    font-family: var(--setting-monoFont, monospace);
}

.Slide {
    :deep(:not(.shiki) > code) {
        color: var(--code, rgb(var(--accent)));
        border-radius: 5px;
        // background: rgb(var(--bg-1));
        background: var(--dim);
        font-size: .85em;
        padding: 3px 6px;
    }

    :deep(a) {
        color: var(--link, rgb(var(--accent)));
        border-bottom: 2px solid rgba(var(--accent-light), .4);
    }

    :deep(strong),
    :deep(b) {
        font-weight: 600;
    }
}

:deep(img),
:deep(video) {
    max-width: 100%;
}

:deep(table) {
    display: block;
    border-collapse: collapse;
    overflow-x: auto;
    font-size: inherit;
    border-radius: 10px;

    tr {
        background-color: none;
        border-top: 1px solid rgb(var(--bg-2));
        transition: background-color .5s
    }

    tr:nth-child(2n) {
        background-color: rgb(var(--bg-1));
    }

    tr:nth-child(2n),
    th {
        :not(.shiki) code {
            background-color: rgb(var(--bg-2));
        }
    }

    th,
    td {
        border: 1px solid rgb(var(--bg-2));
        padding: 10px 18px;
    }

    th {
        text-align: left;
        font-weight: 600;
        color: rgb(var(--fg), .6);
        background-color: rgb(var(--bg-1));
        font-size: .95em;
    }
}